{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="static/style.css">
<script src="../static/echarts.min.js"></script>
{% endblock %}

{% block title %}
quiz 2 | {{title}}
{% endblock %}

{% block navbar %}

<div class="container">
    <header>
        <div style="float:left;width: 100%;">
            <span style="float:left;width: 50%;font-size:80px;text-align: left;"> Quiz 2 </span>
            <span style="float:right;width: 50%;font-size:50px;text-align: right;">Hao Peng | 92153</span>
        </div>
        <div style="float:left;width: 100%;">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{url_for('question10a')}}" class="nav-link {{question10a_active}}" aria-current="page">question10a</a></li>
                <li class="nav-item"><a href="{{url_for('question10b')}}" class="nav-link {{question10b_active}}">question10b</a></li>
                <li class="nav-item"><a href="{{url_for('question12')}}" class="nav-link {{question12_active}}">question12</a></li>
                <li class="nav-item"><a href="{{url_for('question11a')}}" class="nav-link {{question11a_active}}">question11a</a></li>
                
            </ul>
        </div>
    </header>
</div>
{% endblock %}

{% block content %}
{% block app_content %}
{% endblock %}
</div>
{% endblock %}